<div class="col-md-8">
  <h1>Add Employee</h1>

  <%= form_tag '/employees', method: :post do %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= label_tag :first_name %></th>
        <th><%= label_tag :middle_name %></th>
        <th><%= label_tag :last_name %></th>
        <th><%= label_tag :email %></th> 
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= text_field_tag :first_name %></td>
        <td><%= text_field_tag :middle_name %></td>
        <td><%= text_field_tag :last_name %></td>
        <td><%= text_field_tag :email %></td>
      </tr>
    </tbody>

    <thead>
      <th><%= label_tag :phone %></th>
      <th><%= label_tag :job_title %></th>
      <th><%= label_tag :salary %></th>
      <th><%= label_tag :gender %></th> 
    </thead>

    <tbody>
      <td><%= text_field_tag :phone %></td>
      <td><%= text_field_tag :job_title %></td>
      <td><%= text_field_tag :salary %></td>
      <td><%= text_field_tag :gender %></td>  
    </tbody>
  </table>
  <h4><%= label_tag :address %></h4>
  <%= text_field_tag :address %>
  <br>
  <h4><%= label_tag :bio %></h4>
  <%= text_area_tag :bio, nil, size: "50x10" %>
  <br>
  <br>

  <%= submit_tag 'Add', class: "btn btn-default"%>

  <% end %>
</div>  